<div class="banner-home" style="background-image: url(https://www.hdwallpapers.net/previews/bondi-beach-australia-1127.jpg);">
  <div class="container">
    <img src="sunset.jpg" alt="">



  </div>
</div>


